* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;   
    padding: 0;
    margin: 0;
}

*::after, *::before {
    box-sizing: inherit;
}

:root {
    font-size: 62.5%;
}

img, svg{
    display: block;
    max-width: 100%;
}

button, input {
    outline: none;
}