.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #eaeaea;
}

.header__content {
    display: flex;
    align-items: center;
}

.header__menu_hamburgue {
    width: 48px;
    height: 48px;
    background: none;
    border: none;
    padding: 12px;
    border-radius: 50%;
}

.header__menu_hamburgue:hover {
    background: rgba(0, 0, 0, 0.1);
}

.header__menu-btn {
    width: 24px;
    height: 24px;
    display: grid;
    place-items: center;
}

.header__menu-btn span {
    display: block;
    color: #5f6368;
    border-top: 2px solid;
    width: 18px;
}

.header__menu-btn span::after,
.header__menu-btn span::before {
    content: '';
    width: 18px;
    height: 2px;
    display: block;
    margin-top: 3px;
    background: currentColor;
}

/* logo */

.header__logo {
    margin-left: 3px;
}

/* pesquisar */

.header__pesquisar {
    width: 720px;
    height: 48px;
    position: relative;
    margin-left: 96px;
}

.header__pesquisar input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #f1f3f4;
    border: 1px solid #eaeaea;
    padding: 0 56px;
    font-size: 1.6rem;
    font-weight: 200;
    transition: .2s;
}

.header__pesquisar input:focus {
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 0 0;
}

.header__pesquisar > *:not(input){
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header__pesquisar button {
    width: 40px;
    height: 40px;
    color: #5f6368;
    background: none;
    border: none;
    margin-left: 10px;
    display: grid;
    place-items: center;
    cursor: pointer;
    border-radius: 50%;
}

.header__pesquisar button:hover,
.header__pesquisar span:hover,
.header__menu_user li:hover {
    background: rgba(0, 0, 0, 0.1);
}

.header__pesquisar button svg {
    max-width: 24px;
}

/* seta -- pesquisar */

.header__pesquisar span {
    width: 40px;
    height: 40px;
    display: block;
    color: #5f6368;
    right: 0;
    margin-right: 10px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.header__pesquisar span svg {
    width: 24px;
}

/* Menu nav user */

.header__menu_user ul {
    display: flex;
    align-items: center;
    padding: 0 2px;
}

.header__menu_user li {
    border-radius: 50%;
    list-style: none;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    color: #5f6368;
}

.header__menu_user li svg {
    width: 24px;
}

.user__avatar {
    width: 34px;
    height: 34px;
    background: #ccc;
    border-radius: 50%;
}

li.user:hover{
    background: none;
}

/* sidenav */

.sidenav {
    width: 260px;
    padding-right: 15px;
    height: calc(100vh - 65px);
    overflow: hidden;
}

.sidenav.ativo {
    
}

.sidenav .escrever {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 400;
    color: #3c4043; 
    padding: 0 24px 0 0;
    background: #fff;
    border: none;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    transition: .2s;
    border-radius: 50px;
    margin: 15px 0px 10px 10px;
    cursor: pointer;
}

.sidenav .escrever:hover {
    box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.3);
}

.sidenav .escrever::before {
    content: '';
    width: 56px;
    height: 48px;
    background: url('../img/plus-button.png') no-repeat center center;
    display: block;
}

/* email__body */

.email__body {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

/* sidenav__navegacoes */

.sidenav__navegacoes {
    margin-bottom: 20px;
}

.sidenav__navegacoes h1 {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    font-size: 1.4rem;
    padding: 15px 0 10px 30px;
    color: #202124;
}

.sidenav__navegacoes li {
    width: 100%;
    font-size: 1.4rem; 
    font-weight: 400;
    border-radius: 0 15px 15px 0;
    overflow: hidden;
}

.sidenav__navegacoes li:hover {
    background: rgba(0, 0, 0, 0.1);
}

.sidenav__item-ativo {
    background: #FCE8E6;   
}

li.sidenav__item-ativo:hover {
    background: #FCE8E6;
}

.sidenav__navegacoes li a {
    display: flex;
    align-items: center;
    padding: 5px 0 5px 30px;
    text-decoration: none;
    color: #202124;
}

li.sidenav__item-ativo a {
    color: #d93025;
    font-weight: 700;
}

#icon-tela {--local-img: url('../img/icon-tela.png')}
#icon-start {--local-img: url('../img/icon-star.png')}
#icon-adiado {--local-img: url('../img/icon-relogio.png')}
#icon-enviados {--local-img: url('../img/icon-enviar.png')}
#icon-rascunho {--local-img: url('../img/icon-file.png')}
#icon-camera {--local-img: url('../img/icon-camera.png')}
#icon-teclado {--local-img: url('../img/icon-teclado.png')}

.sidenav__navegacoes li a::before {
    content: '';
    width: 24px;
    height: 24px;
    display: block;
    background: var(--local-img) no-repeat center center;
    opacity: 0.6;
    margin-right: 15px;
}

.sidenav__navegacoes li a.icon-seta::before {
    content: '🠶';
    display: grid;
    place-items: center;
    vertical-align: middle;
    font-size: 1.5rem;
}

.navegacoes__user {
    margin: 0 5px 0 30px;
    padding: 5px 0 5px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.user__img {
    width: 24px;
    height: 24px;
    display: block;
    background: #ccc;
    border-radius: 50%;
    margin-right: 10px;
}

.user__icon {
    width: 24px;
    height: 24px;
    display: block;
    background: url('../img/icon-plus.svg');
    margin-left: 70px;
}

/* content */ 

.content {
    width: 100%;
    height: calc(100vh - 65px);
    overflow-y: auto;
}

.content__header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.select__emails,
.email__select {
    width: 15px;
    height: 15px;
    display: block;
    border: 2px solid #333;
    border-radius: 2px;
    margin: 10px;
}

.icon-atualizar,
.icon-mais,
.select__email__container {
    margin: 4px 2px;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background: no-repeat center center;
    transition: .2s;
    cursor: pointer;
}

.icon-atualizar {
    background-image: url('../img/icon-recarregar.svg');
}

.icon-mais {
    background-image: url('../img/icon-three.svg');
}

.icon-atualizar:hover,
.icon-mais:hover,
.select__email__container:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* content__body */

.content__body .content__nav ul {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.content__body .content__nav li {
    position: relative;
    margin-right: 5px;
}

.content__body .content__nav a {
    padding: 15px 120px 15px 8px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #333333;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
}

.content__body .content__nav a:hover {
    background: rgba(0, 0, 0, 0.1);
}

#icon-principal {--local-img: url('../img/icon-tela.png')}
#icon-social {--local-img: url('../img/icon-social.png')}
#icon-promocao {--local-img: url('../img/icon-promocao.png')}

.content__body .content__nav a::before {
    content: '';
    width: 24px;
    height: 24px;
    display: block;
    margin-right: 15px;
    background: var(--local-img) no-repeat center center;
    opacity: 0.6;
}

.content__body .content__nav a.ativo::before {
    opacity: 1 !important;
}

.content__body .content__nav a.ativo::after {
    content: '';
    width: 100%;
    height: 3px;
    display: block;
    position: absolute;
    background: currentColor;
    bottom: 0;
    left: 0;
    border-radius: 5px 5px 0 0;
}

#icon-principal.ativo {
    color: #d93025;
    --local-img: url('../img/icon-tela-ativo.png')
}

#icon-social.ativo {
    color: #1a73e8;
    --local-img: url('../img/icon-social-ativo.png');
}

#icon-promocao.ativo {
    color: #188038;
    --local-img: url('../img/icon-promocao-ativo.png');
}

/* Emails - content */

.content__email_list {
}

.content__email_list a {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #202124;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
}

.email__name {
    margin-left: 15px;
    font-weight: 700;
}

.email__content {
    margin-left: 60px;
    color: #5f6368;
}

.email_icons {
    display: flex;
    align-items: center;
    opacity: .2;
}

.email__select {
    margin: 0 10px;
}

.email__start {
    width: 24px;
    height: 24px;
    display: block;
    background: url('../img/icon-star-vazia.png') no-repeat center center;
}